<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
    
        <button
          class="burger-menu-button"
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
    
      
     
      <div id="logo"><a href="#"><img src="assets/logo.svg" alt="pide" /></a></div>

      <div>
        <div mat-button [matMenuTriggerFor]="menu">
          <span class="lang-dropdown">
            <img src="assets/icons/flags/flag_ge.svg" alt="pide"/>
            <img class="arrow-icon" src="https://pide.ge/images/arrow.png" alt="pide"/>
          </span> 
        </div>
        <mat-menu #menu="matMenu">
          <li mat-menu-item><span><img src="assets/icons/flags/flag_ge.svg" alt="pide"/></span> <span>GEO</span> </li>
          <li mat-menu-item><img src="assets/icons/flags/flag_en.svg" alt="pide"/><span>ENG</span></li>
          <li mat-menu-item><img src="assets/icons/flags/flag_ru.svg" alt="pide"/><span>RUS</span></li>       
        </mat-menu>
      </div>

      

    </mat-toolbar>
   
  </mat-sidenav-content>
</mat-sidenav-container>
