<div class="default_modal_wrapper">
  <h2> Add faq </h2>
  <div mat-dialog-content>
    <mat-tab-group style="width: 100%; margin-bottom: 20px">
      <mat-tab label="Info">
        <div class="page_body">
            <app-form [formData]="data"  #faqForm [showSubmit]="showSubmit"></app-form>
        </div>
      </mat-tab>
      
    </mat-tab-group>
  </div>
  <mat-dialog-actions>
      <button mat-raised-button mat-dialog-close> Cancel </button>
      <button mat-raised-button (click)="onFinish()"> Submit </button>
  </mat-dialog-actions>
</div>
