<div class="container">
    <!-- <div class="bg-img" [ngStyle]="{'background-image': 'url(' + (commons?.banner?.image?.url | resourceUrl) + ')'}"> -->
    <div class="bg-img" [ngStyle]=" screenSize > 500 ? {'background-image': 'url(assets/images/header-bg.png)'} : '' ">
      <div class="header-text-wraper">
        <div class="header-text">მეგობრული გარემო თქვენი ოთხფეხა მეგობრისთვის</div>
        <div><button class="btn booking-btn">{{'HEADER.BOOKING' | translate}}</button></div>
      </div>
    
    </div>
  </div>