<app-header></app-header>
<div class="about-us">
    <div class="container">
        <div class="section-container">
            <div class="title">
                <h1 >{{'ABOUT_US' | translate}}</h1>
             </div>
            <p [innerHTML]="'T' | translate : aboutUs?.content">
            </p>
            <div class="banner-wraper">        
                    <div class="banner bg-img" [ngStyle]="{'background-image': 'url(' + (aboutUs?.banner?.url | resourceUrl) + ')'}">
                        <a href="https://pide.ge/pide-order/">
                            <button class="btn booking-btn">
                            {{'HEADER.BOOKING' | translate}}
                            </button>
                        </a>
                </div>     
            </div>
        </div>  
    </div>
</div>
<app-footer></app-footer>
