@import '../../../scss/abstracts/variables';

.bg-img {
	// width: 100%;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.about-us {
    background-color: #FBFBFB;
    padding-bottom: 128px;
}
.title {
    font-weight: bold;
    text-align: center;
    font-size: 39px;
    margin-bottom: 62px;
    h1 {
        word-wrap: break-word;
        font-family: "contractica-black";
    }
}

.section-container {
    margin-top: 62px;
    margin-left: 16px;
    margin-right: 16px;
    font-family: "contractica-regular";
}

.booking-btn {
    margin-top: 100px;
    margin-left: 500px;
    position: relative;
    width: 189px;
    height: 64px;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 27px 0px 27px;
    background-color: $green;
    border-color: $green;
    color: #FFFF;
    border-radius: 50px;
    font-family: "contractica-caps-black";
 }

 .banner-wraper {
    margin-top: 57px;
    display: flex;
    justify-content: center;

    .banner {
        width: 744px;
        height: 266px;
        border-radius: 16px;
        img {
            width: 100%;
            height: 100%;
        }
    }
 }

 
@media screen and (min-width: 1200px) {
    .title {
        font-weight: bold;
        text-align: center;
        font-size: 39px;
        margin-top: 62px;
        margin-bottom: 62px;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .booking-btn {  
        margin-top: 100px;
        margin-left: 500px;
        position: relative;
        width: 135px;
        height: 48px;
        font-size: 16px;
     }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
    .booking-btn {
        margin-top: 100px;
        margin-left: 65%;
        position: relative;
        width: 135px;
        height: 48px;
        font-size: 16px;
     }
}
@media screen and (min-width: 390px) and (max-width: 499px) {
    .booking-btn {
        margin-top: 100px;
        margin-left: 200px;
        position: relative;
        width: 135px;
        height: 48px;
        font-size: 16px;
     }
}
@media screen and (min-width: 200px) and (max-width: 390px) {
    .booking-btn { 
        margin-top: 100px;
        margin-left: 40%;
        position: relative;
        width: 135px;
        height: 48px;
        font-size: 16px;
     }
}
