@import "src/@fuse/scss/fuse";

#products {

    .top-bg {

        @include media-breakpoint('lt-md') {
            height: 256px;
        }
    }

    >.center {

        >.header {

            .search-wrapper {
                width: 100%;
                max-width: 480px;
                border-radius: 28px;
                overflow: hidden;
                @include mat-elevation(1);

                @include media-breakpoint('xs') {
                    width: 100%;
                }

                .search {
                    width: 100%;
                    height: 48px;
                    line-height: 48px;
                    padding: 0 18px;

                    input {
                        width: 100%;
                        height: 48px;
                        min-height: 48px;
                        max-height: 48px;
                        padding: 0 16px;
                        border: none;
                        outline: none;
                    }
                }
            }

            @include media-breakpoint('lt-md') {
                padding: 8px 0;
                height: 192px !important;
                min-height: 192px !important;
                max-height: 192px !important;
            }
        }
    }
}

.products-table {
    flex: 1 1 auto;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    .mat-header-row {
        min-height: 64px;
    }

    .product {
        position: relative;
        cursor: pointer;
        height: 70px;
    }

    &.articles_table {
        .product {
            z-index: 2;
        }
    }

    .mat-cell {
        min-width: 0;
        display: flex;
        align-items: center;
    }

    .mat-column-id {
        flex: 0 1 84px;
    }

    .mat-column-image {
        flex: 0 1 84px;

        .product-image {
            width: 52px;
            height: 52px;
            border: 1px solid rgba(0, 0, 0, .12);
        }
    }

    .mat-column-category {
        flex: 0 1 240px;
    }

    .mat-column-price {
        flex: 0 1 160px;
    }

    .mat-column-quantity {
        flex: 0 1 160px;
    }

    .mat-column-active {
        flex: 0 1 80px;
    }

    .quantity-indicator {
        display: inline-block;
        vertical-align: middle;
        width: 8px;
        height: 8px;
        border-radius: 4px;
        margin-right: 8px;

        &+span {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .active-icon {
        border-radius: 50%;
    }
}

.content-card {
    background: white;
    border-radius: 8px 8px 0 0;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.mat-table {
    overflow: auto;
    height: calc(100vh - 324px);

    &.subscribers_table {
        height: calc(100vh - 272px);
    }
}

.tab-content {
    max-width: 99%;
}

// octomber 29  2019, update


.tab_wrapper {
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    // height: calc(100vh - 270px);
}

// Drag n Drop css
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


// 25 december 2019
.details-row {
    display: initial;

    &:after {
        display: none;
    }
}