@import '../../../scss/abstracts/variables';

@media screen and (min-width: 100px) and (max-width: 992px) {
	.mobile-nav {
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: #fff;
		padding-top: 24px;
	
		.mobile-menu {
			display: flex;
			flex-direction: column;
			justify-content: start;
			margin-left: 16px;
	
			li {
				margin-bottom: 24px;
				font-size: 16px;
			}
		}
	}
	.mobile-menu-container {
		display: flex;
		flex-direction: row;
		// justify-content: center;
		justify-content: space-between;
		width: 100%;	
	}
}



.link {
    text-decoration: none;
    color: black;
}

.lang-dropdown {
	.flag {
		width: 24px;
	}
	.arrow-icon {
		width: 13.2px;
		margin-left: 6px;
	}
}
.lang-title {
	margin-left: 5px;
}

.custom-navbar {
	border-bottom: #E6E6E7 solid 1px;
	height: 80px;
}

 .menu-container {
	 display: flex;
	 justify-content: center;
	 width: 100%;
	 
	 .menu-booking-btn-wrapper{
		display: flex;
		flex-direction: column;
		justify-content: center;
		.menu-booking-btn {
			width: 143px;
			height: 48px;
			font-size: 16px;
			font-weight: bold;
			padding: 0px 27px 0px 27px;
			background-color: $green;
			border-color: $green;
			color: #FFFF;
			border-radius: 50px;
		 }
	 }	
 } 

 .logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
 }

 .item {
	margin-left: auto;
	margin-right: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
 }
  
.main-menu {
	display: flex;
	margin-left: 40px;
	margin-bottom: 0px;

	li {
		cursor: pointer;
		font-family: 'TBCContractica';
		font-size: 16;
	}
	li:hover {
		background: none;
	}
}

