.example-container {
	width: 400px;
	height: 200px;
	margin: 10px;
	border: 1px solid #555;
  }


/* header */
#header{
	width:100%;
	max-width:1920px;
	height: 81px;
    box-shadow: 3px 6px 16px 0 rgba(92, 100, 122, 0.06);
    background-color: #ffffff;
	padding:0 50px;
	font-family:'Firago_Regular_up';
	color: #ffffff;
	position:fixed;
	top:0;
	left:0;
	z-index:999;
}
#header_helper
{
	height:81px;
}
.header_container
{
	width:100%;
	height:100%;
	display: flex;
	display: -webkit-flex;
    justify-content: space-between;
	-webkit-justify-content: space-between;
	align-items: center;
}
.header_container_left
{
	display: flex;
	display: -webkit-flex;
    justify-content: space-between;
	-webkit-justify-content: space-between;
	align-items: center;
}
#logo
{
	padding:0 50px;
}
#logo img
{
	max-width:65px;
	max-height:31px;
}
#header_menu
{
}
#header_menu ul
{
	display: flex;
	display: -webkit-flex;
    justify-content: space-between;
	-webkit-justify-content: space-between;
	align-items: center;
}
#header_menu li
{
	display:inline-block;
	list-style:none;
	padding-left:60px;
}
#header_menu a
{
	font-size: 17px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.24;
	letter-spacing: normal;
	text-align: left;
	color: #414144;
}
.active_menu span
{
	font-family:'Firago_Medium_up';
	font-weight:700;
}
.lang_changer_box
{
	width:140px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	font-family:'Firago_Medium_up';
	color: #212121;
	position:relative;	
}
.header_right
{
	display:flex;
	justify-content: space-between;
}
.active_lang
{
	cursor:pointer;
	display: inline-block;
    margin-top: 18px;
}
.active_lang img:first-child
{
	display:inline-block;
	vertical-align:middle;
}
.active_lang img:last-child
{
	width:8px;
	display:inline-block;
	vertical-align:middle;
	margin-left:8px;
}
.active_lang span
{
	display:inline-block;
	vertical-align:middle;
	margin-left:8px;
}
.lang_changer_box ul
{
	width:100%;
	background:#ffffff;
	padding:10px;
	position:absolute;
	top:49px;
	left:0px;
	box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.08);
	display:none;
}
.lang_changer_box li, .mobile_lang_changer li
{
	list-style:none;
	margin-top:16px;
}
.lang_changer_box li a, .mobile_lang_changer li a
{
	display:inline-block;
	vertical-align:middle;
}
.lang_changer_box li a img:first-child, .mobile_lang_changer li a img:first-child
{
	display:inline-block;
	vertical-align:middle;
}
.lang_changer_box li a img:nth-child(2), .mobile_lang_changer li a img:nth-child(2)
{
	display:inline-block;
	vertical-align:middle;
	margin-left:8px;
}
.lang_changer_box li a span, .mobile_lang_changer li a span
{
	display:inline-block;
	vertical-align:middle;
	margin-left:8px;
}
#header_order
{
	width: 210px;
    height: 50px;
    background: #00AC7E;
    text-align: center;
}
#header_order a
{
	width:100%;
	height:100%;
	display:inline-block;
}
#header_order span
{
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 22px;
	text-align: center;
	letter-spacing: -0.0041em;
	color: #FFFFFF;
	display:inline-block;
	margin-top:15px;
}
#header_video img
{
	display:inline-block;
	vertical-align:middle;
}
#header_video span
{
	font-family: 'Firago_Medium_up';
	font-size: 15px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.33;
	letter-spacing: normal;
	text-align: left;
	color: #ff0000;
	display:inline-block;
	padding-left:8px;
	vertical-align:middle;
}
/* end header */