.section-title {
    font-weight: bold;
    font-size: 25px;
    margin-left: 16px;
    margin-right: 16px;
}

.section-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 45px;
    margin-left: 16px;
    margin-right: 16px;

    .carousel {
        width: 100%;
    }

    .card-tem {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 16px;
        padding: 25px;

        .card-item-header {
            display: flex;
            flex-direction: row;
            .card-header-img {
                width: 72px;
                height: 72px;
            }
            .username {
                margin-left: 25px;
                padding-top: 22px;
                font-weight: bold;
            }
            .card-header-quote {
                width: 48px;
                height: 48px;
            }
        }
        .card-header-quote {
            margin-left: auto;
        }
        .card-tem-title {
            margin-top: 20px;
            font-size: 20px;
        }
        .card-tem-description {
            margin-top: 16px;
            font-size: 16px;
            overflow: hidden;
        }
    }
}