
<div class="container">
    <div class="section-title">  {{'HOME.STORIES.TITLE' | translate}}</div>
    <div class="section-container row">
        <owl-carousel-o [options]="storiesCarouselOptions" class="carousel">
              <ng-template carouselSlide *ngFor="let story of stories">
                <div class="card-tem col">
                    <div class="card-item-header">
                       <div> <img [src]="story?.Image?.url | resourceUrl" alt="" class="card-header-img"></div>
                        <div class="username">{{ 'T' | translate : story?.title }}</div>
                        <div class="card-header-quote"><img src="assets/icons/quotes.png" alt="" class="card-header-quote"></div>
                    </div>
                    <div class="card-tem-description">
                        {{ 'T' | translate : story?.description }}
                    </div>
                </div>
              </ng-template>
            </owl-carousel-o>
    </div>
</div>
