
<div class="container">
    <div class="section-title">  {{'HOME.STORIES.TITLE' | translate}}</div>
    <div class="section-container row">

        <owl-carousel-o [options]="storiesCarouselOptions" class="carousel">
              <ng-template carouselSlide >
                <div class="card-tem col">
                    <div class="card-item-header">
                       <div> <img src="assets/images/Card background.png" alt="" class="card-header-img"></div>
                        <div class="username">ელეონორა ტ.</div>
                        <div class="card-header-quote"><img src="assets/icons/quotes.png" alt="" class="card-header-quote"></div>
                    </div>
                    <div class="card-tem-description">
                        უბრალოდ მინდა მადლობა გადაგიხადოთ თქვენ და მარიამს ❤️ მაქსი ისე ასეირნა ჩვენ არც გავხსენებივართ ამას 😂 ორი ღამე არ მეძინა ნერვიულობით და ჯერ მარიამს რომ შევხვდი მაშინ დავმშვიდდი, მერე მაქსი რომ უპრობლემოდ გაყვა ❤️ მოკლედ, მადლობა დიდი და ვიცი ვის მივმართო როცა დამჭირდება
                    </div>
                </div>

              </ng-template>
              <ng-template carouselSlide>
                <div class="card-tem col">
                    <div class="card-item-header">
                       <div> <img src="assets/images/girl-Card background.png" alt="" class="card-header-img"></div>
                        <div class="username">მარიამ დ.</div>
                        <div class="card-header-quote"><img src="assets/icons/quotes.png" alt="" class="card-header-quote"></div>
                    </div>
                    <div class="card-tem-description">
                        მადლობა, რომ მაქსიმალურად მომხმარებლის კომფორტზე ხართ ორიენტირებულები. მიუხედავად იმისა, რომ ბოლო წუთს რამდენჯერმე შემეცვალა გეგმები მაქსიმალური ყურადღებით მომისმინეთ და მოერგეთ ჩემთვის ხელსაყრელ დროს. რაც შეეხება თაკოს, პირველივე დღეს ძალიან მომეწონა. მოლის მიმართ იყ...
                    </div>
                </div> 
              </ng-template>
              <ng-template carouselSlide>
                <div class="card-tem col">
                    <div class="card-item-header">
                       <div> <img src="assets/images/girl-Card background.png" alt="" class="card-header-img"></div>
                        <div class="username">მარიამ დ.</div>
                        <div class="card-header-quote"><img src="assets/icons/quotes.png" alt="" class="card-header-quote"></div>
                    </div>
                    <div class="card-tem-description">
                        მადლობა, რომ მაქსიმალურად მომხმარებლის კომფორტზე ხართ ორიენტირებულები. მიუხედავად იმისა, რომ ბოლო წუთს რამდენჯერმე შემეცვალა გეგმები მაქსიმალური ყურადღებით მომისმინეთ და მოერგეთ ჩემთვის ხელსაყრელ დროს. რაც შეეხება თაკოს, პირველივე დღეს ძალიან მომეწონა. მოლის მიმართ იყ...
                    </div>
                </div> 
              </ng-template>
              <ng-template carouselSlide>
                <div class="card-tem col">
                    <div class="card-item-header">
                       <div> <img src="assets/images/girl-Card background.png" alt="" class="card-header-img"></div>
                        <div class="username">მარიამ დ.</div>
                        <div class="card-header-quote"><img src="assets/icons/quotes.png" alt="" class="card-header-quote"></div>
                    </div>
                    <div class="card-tem-description">
                        მადლობა, რომ მაქსიმალურად მომხმარებლის კომფორტზე ხართ ორიენტირებულები. მიუხედავად იმისა, რომ ბოლო წუთს რამდენჯერმე შემეცვალა გეგმები მაქსიმალური ყურადღებით მომისმინეთ და მოერგეთ ჩემთვის ხელსაყრელ დროს. რაც შეეხება თაკოს, პირველივე დღეს ძალიან მომეწონა. მოლის მიმართ იყ...
                    </div>
                </div> 
              </ng-template>
         
            </owl-carousel-o>
    </div>
</div>
