<div class="container">
    <div class="section-title">მოთხოვნადი გამსეირნებლები </div>
    <div class="section-container ">
        <div class="card-tem ">
            <div>
                <img class="card-item-image" src="assets/images/Rectangle 353.png" alt="">
            </div>
            <div class="card-tem-title">
                ანა ბ.
             </div>
            <div class="tags">
                <span>350+ ჯავშანი</span>
                <span>5 წლიანი გამოცდილება</span>
                <span>უცხო ენა: ინგლისური</span>
            </div>
         
            <div class="card-tem-description">
                👋 მე მქვია ანა. ვარ 19 წლის. სამხატვრო აკადემიის სტუდენტი, მე-2 კურსზე. გამიმართლა და ბავშვობიდანვე სახლში გვყავდა ბევრი ძაღლი. ბობი ჩ...
            </div>
        </div>
        <div class="card-tem ">
            <div>
                <img class="card-item-image" src="assets/images/Rectangle 354.png" alt="">
            </div>
            <div class="card-tem-title">
               თინა კ.
            </div>
            <div class="tags">
                <span>100+ ჯავშანი</span>
                <span>2 წლიანი გამოცდილება</span>
                <span>უცხო ენა: ფრანგული</span>
            </div>
            <div class="card-tem-description">
                👋 მე მქვია ანა. ვარ 19 წლის. სამხატვრო აკადემიის სტუდენტი, მე-2 კურსზე. გამიმართლა და ბავშვობიდანვე სახლში გვყავდა ბევრი ძაღლი. ბობი ჩ...
            </div>
        </div>
        <div class="card-tem ">
            <div>
                <img class="card-item-image" src="assets/images/Rectangle 355.png" alt="">
            </div>
            <div class="card-tem-title">
                სოფია ლ.
             </div>
            <div class="tags">
                <span>100+ ჯავშანი</span>
                <span>2 წლიანი გამოცდილება</span>
                <span>უცხო ენა: ფრანგული</span>
            </div>
          
            <div class="card-tem-description">
                👋 მე მქვია ანა. ვარ 19 წლის. სამხატვრო აკადემიის სტუდენტი, მე-2 კურსზე. გამიმართლა და ბავშვობიდანვე სახლში გვყავდა ბევრი ძაღლი. ბობი ჩ...
            </div>
        </div>
        <div class="card-tem ">
            <div>
                <img class="card-item-image" src="assets/images/Rectangle 355.png" alt="">
            </div>
            <div class="card-tem-title">
                სოფია ლ.
             </div>
            <div class="tags">
                <span>100+ ჯავშანი</span>
                <span>2 წლიანი გამოცდილება</span>
                <span>უცხო ენა: ფრანგული</span>
            </div>
          
            <div class="card-tem-description">
                👋 მე მქვია ანა. ვარ 19 წლის. სამხატვრო აკადემიის სტუდენტი, მე-2 კურსზე. გამიმართლა და ბავშვობიდანვე სახლში გვყავდა ბევრი ძაღლი. ბობი ჩ...
            </div>
        </div>
  
    </div>
</div>