<div class="container">
    <div class="section-title"> {{'HOME.WALKERS.TITLE' | translate}} </div>
    <div class="section-container ">
        <div class="card-tem " *ngFor="let walker of walkers">
            <div>
                <img class="card-item-image" [src]="walker?.Image?.url | resourceUrl" alt="">
            </div>
            <div class="card-tem-title">
                 {{ 'T' | translate : walker?.name }}
             </div>
            <div class="tags" *ngIf="walker && walker.tags && walker.tags.length > 0">
                <span *ngFor="let tag of walker.tags">{{ 'T' | translate : tag }}</span>
            </div>
         
            <div class="card-tem-description">
                {{ 'T' | translate : walker?.description }}
            </div>
        </div>      
    </div>
</div>