<app-header></app-header>
<div class="container">
    <div class="section-container">
     <div class="title">
        <h1 >{{'PRIVACY' | translate}} </h1>
     </div>
        <p [innerHTML]="content"></p>
        <div class="banner-wraper">
            <div class="banner bg-img" [ngStyle]="{'background-image': 'url(' + (privacy?.banner?.url | resourceUrl) + ')'}">
                <a href="https://pide.ge/pide-order/">
                    <button class="btn booking-btn">
                    {{'HEADER.BOOKING' | translate}}
                    </button>
                </a>
            </div>     
        </div>
    </div>  
</div>
<app-footer></app-footer>