<app-header></app-header>
<div class="contact">
    <div class="container">
        <div class="section-container">
            <div class="title">
                <h1 >{{'CONTACT.CONTACT' | translate}}</h1>
             </div>
             <p class="sub-title">
                {{'CONTACT.CONTACT_ADDICIONAL' | translate}}
             </p>
        </div>
        <div class="contacts">
            <div class="cart-item">
                <div>
                    <img class="icon" src="/assets/icons/phone.png" alt="">
                </div>
                <div class="content">
                    <div>{{ contacts?.phone }}</div>
                    <div>{{ contacts?.phone2 }}</div>
                    <div>{{ contacts?.phone3 }}</div>
                </div>
            </div>
            <div class="cart-item">
                <div>
                    <img class="icon" src="/assets/icons/email.png" alt="">
                </div>
                <div  class="content">
                    {{ contacts?.email }}
                </div>
            </div>
        </div>
    </div>
</div>  
<app-footer></app-footer>

