<app-header></app-header>
<div class="container">
    <div class="section-container">
        <div class="title">
            <h1 >კონტაქტი</h1>
         </div>
         <p class="sub-title">
            დამატებითი კითხვების შემთხვევაში დაგვიკავშირდით:
         </p>
    </div>
    <div class="contacts">
        <div class="cart-item">
            <div>
                <img class="icon" src="/assets/icons/phone.png" alt="">
            </div>
            <div class="content">
                +995 555 555 555
            </div>
        </div>
        <div class="cart-item">
            <div>
                <img class="icon" src="/assets/icons/email.png" alt="">
            </div>
            <div  class="content">
                tornike@pide.com
            </div>
        </div>
    </div>
</div>
  
<app-footer></app-footer>

