<div class="container">
    <div class="section-title">როგორ დავჯავშნო სერვისი?</div>
    <div class="section-container">
        <div class="card-tem">
           <ul>
               <li class="list-item">
                   <div class="icon">
                       <img src="/assets/icons/Group 631.png" alt="">
                   </div>
                   <div class="step">
                       <div class="step-title">აირჩიე სერვისი</div>
                       <div class="step-text">აირჩიე სასურველი სერვისი</div>
                   </div>
               </li>
               <hr class="divider">
               <li class="list-item">
                   <div class="icon">
                       <img src="/assets/icons/Group 632.png" alt="">
                   </div>
                   <div class="step">
                       <div class="step-title">დაამატე ძაღლი</div>
                       <div class="step-text">მოგვიყევი შენს ძაღლზე</div>
                   </div>
               </li>
               <hr class="divider">
               <li class="list-item">
                   <div class="icon">
                       <img src="/assets/icons/Group 633.png" alt="">
                   </div>
                   <div class="step">
                       <div class="step-title">აირჩიე მომსახურების დრო</div>
                       <div class="step-text">გვითხარი როდის გჭირდება სერვისი</div>
                   </div>
               </li>
               <hr class="divider">
               <li class="list-item">
                   <div class="icon">
                       <img src="/assets/icons/Group 634.png" alt="">
                   </div>
                   <div class="step">
                       <div class="step-title">დაელოდე რამდენიმე წუთი</div>
                       <div class="step-text">დაელოდე გამოხმაურებას და სულ ეგ არის!</div>
                   </div>
               </li>
           </ul>
        </div>
        <div class="banner">
            <img src="/assets/images/Rectangle 114.png" alt="">
        </div>
    </div>
</div>
