.login-container {
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    margin: 0 auto;
}

.form-container { 
    margin-top: 30px;
    // width: 50%;
}

.section-title { 
    text-align: center;
    margin-bottom: 64px;
    font-weight: bold;
}

.phone-mask-wraper {
    margin-top: 1px;
    margin-left: 1px;
    background-color: #F6F6F7;
    height: 46px;

    border-radius: 0.9rem 0 0  0.9rem !important;

    position: absolute;
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    top: 0;
    left: 0;
    width: auto;
    // height: 100%;
    display: inline-block;
    line-height: 3rem;
    text-align: center;
    padding: 0 15px;
    font-weight: 400;

    .phone-mask-flag {
        margin-top: -4px;
    }

    .phone-mask-code {

    }
}

.phone-number-input {
    padding-left: 100px;
}

.links{ 
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding-top: 20px;

    .link {
        color: #12B57F;
        text-decoration: none;
        font-weight: bold;
        margin-left: 10px;
    }
}

.st-field-half {
      width: 48%;
}


.double-wraper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


  @media (max-width: 768) {
    .form-container {
        margin-top: 30px;
    }
  }