<app-header></app-header>
<p>login works!</p>

<div class="col-md-11 col-lg-9 form-container">
    cols
</div>
  
<div class="login-container">
    <div class="form-container">
        <form autocomplete="off" [formGroup]="form">
                
            <!-- <h2 class="section-title mr-b-16 d-none d-md-block"> {{ 'LOGIN.LOGIN_TITLE' | translate }}  </h2> -->
            <h2 class="section-title mr-b-16 d-none d-md-block"> შესვლა  </h2>

            <div class="st-field-wrapper">
              <!-- <label class="label"> {{ 'FORMS.PHONE_NUMBER' | translate }} </label>

              <div class="input_error" *ngIf="checkHasError('phoneNumber', 'required')">
                {{'FORMS.ERRORS_REQUIRED' | translate }}
              </div>
              <div class="input_error" *ngIf="checkHasError('phoneNumber', 'pattern')">
                {{'FORMS.ERRORS_MOBILE_PATTERN' | translate }}
              </div>
              <div class="input_error" *ngIf="userNotActivated">
                {{'FORMS.ERRORS_NOT_FOUND' | translate }}
              </div>
              <div class="input_error" *ngIf="wrongPhoneOrPassword">
                {{'FORMS.ERRORS_WRONG_PHONE_OR_PASSWORD' | translate }}
              </div> -->

              <div class="st-field">
                <div class="phone-mask-wraper">
                    <img class="phone-mask-flag" src="assets/icons/flags/flag_ge.svg"/>
                    <span class="phone-mask-code"> +995 </span>                   
                </div>
                <input class="st-input form-control phone-number-input" type="text" formControlName='phoneNumber' placeholder="ტელეფონის ნომერი">
                <!-- <input [textMask]="{mask: mask}" [(ngModel)]="myModel" class="st-input form-control" type="text" placeholder="(***) ** ** **" formControlName='phoneNumber'> -->
              </div>
            </div>

            <div class="st-field-wrapper">
              <!-- <label class="label"> {{ 'FORMS.PASSWORD' | translate }} </label>
              
              <div class="input_error" *ngIf="checkHasError('password', 'required')">
                {{'FORMS.ERRORS_REQUIRED' | translate }}
              </div>
              <div class="input_error" *ngIf="checkHasError('password', 'minlength')">
                {{'FORMS.ERRORS_PASSWORD_MIN_LENGTH' | translate }}
              </div>
              <div class="input_error" *ngIf="checkHasError('password', 'maxlength')">
                {{'FORMS.ERRORS_PASSWORD_MAX_LENGTH' | translate }}
              </div> -->

              <div class="st-field">
                <input class="st-input form-control" type="password" formControlName='password' placeholder="პაროლი">

                <!-- <div class="pass-recovery"  > {{ 'LOGIN.FORGOT_PASSWORD' | translate }} </div> -->
              </div>
            </div>
            <div>
                <button class="st-btn st-btn-filled btn-full mr-b-16 mr-t-40" > შესვლა </button>
            </div>
          <div class="links">
            არ გაქვთ ანგარიში ? <a href="#" class="link">რეგისტრაცია</a>
          </div>
          

          </form>
    </div>
</div>

<app-footer></app-footer>