%btn {
  cursor: pointer;
  display: inline-block;
  outline: none;
  line-height: 1;
}

// Media
@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 768px) {}

@media (max-width: 575px) {}
