
<div class="container">
    <div class="section-title">რატომ პაიდი </div>
    <div class="section-container ">
        <div class="card-tem ">
            <div>
                <img src="assets/icons/icons8-sun (1) 1.png" alt="">
            </div>
            <div class="card-tem-title">
                არ შეცვალო გეგმები
            </div>
            <div class="card-tem-description">
                შენი ცუგა ატარებს უზრუნველ დროს შენ კი მიჰყვები შენს გეგმებს
            </div>
        </div>
        <div class="card-tem ">
            <div>
                <img src="assets/icons/icons8-cursor.png" alt="">
            </div>
            <div class="card-tem-title">
                დაჯავშნე მარტივად
            </div>
            <div class="card-tem-description">
                სერვისის დაჯავშნა არასდროს ყოფილა ასეთი მარტივი
            </div>
        </div>
        <div class="card-tem ">
            <div>
                <img src="assets/icons/icons8-check-all.png" alt="">
            </div>
            <div class="card-tem-title">
                სანდოობა
            </div>
            <div class="card-tem-description">
                სანერვიულო არ გაქვს რადგან ძაღლს ტოვებ სანდო ხელში
            </div>
        </div>
    </div>
</div>