<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">
    
    <div fxLayout="row" fxLayoutAlign="space-between" formGroupName='question'>
      
      <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
          <mat-label> question en </mat-label>
          <input matInput placeholder="question en" formControlName="en">
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
          <mat-label> question ge </mat-label>
          <input matInput placeholder="question ge" formControlName="ge">
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
          <mat-label> question ru </mat-label>
          <input matInput placeholder="question ru" formControlName="ru">
      </mat-form-field>

    </div>

    <div formGroupName='answer'>
      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label> answer en </mat-label>
        <textarea matInput placeholder="answer en" formControlName="en" rows="5">
        </textarea>
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label> answer ge </mat-label>
        <textarea matInput placeholder="answer ge" formControlName="ge" rows="5">
        </textarea>
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label> answer ru </mat-label>
        <textarea matInput placeholder="answer ru" formControlName="ru" rows="5">
        </textarea>
      </mat-form-field>
      
    </div>

  </div>
</form>