
              <form [formGroup]="form">
                 
                  <h2 class="section-title"> ძაღლის დამატება </h2>
              
                <div class="upload-photo-container" (click)="openFile()">
                    <input class="photo-uploader" type="file" style="display:none" (change)="handle($event)">
                    <div class="icon-holder">
                        <img src="assets/icons/image.png" alt="">
                    </div>
                    <div class="text-holder">
                        ატვირთეთ ძაღლის ფოტო
                    </div>
                </div>

                  <div class="st-field-wrapper row">
                    <div class="st-field st-field-half col-sm-12  col-md-6 col-lg-6">
                      <input class="st-input form-control" type="text" formControlName='petname' placeholder="ძაღლის სახელი">
                    </div>
      
                    <div class="st-field st-field-half col-sm-12  col-md-6 col-lg-6">
                        <input class="st-input form-control"  matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName='patBirthday' >
                        <mat-datepicker-toggle   matSuffix [for]="picker" class="pet-birthday"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </div>
                  </div>

                  <div class="st-field-wrapper row">
                    <div class="st-field st-field-half col-sm-12  col-md-6 col-lg-6">
                      <input class="st-input form-control" type="text" formControlName='breed' placeholder="ჯიში">
                    </div>
      
                    <div class="st-field st-field-half col-sm-12  col-md-6 col-lg-6">
                      <select class="st-input form-control" id="petweight" formControlName='weight'>
                        <option *ngFor="let weight of petWeights" [value]="weight">{{ weight }} Kg</option>
                      </select>
                    </div>
                  </div>

                  <div class="characteristics-title">
                    <span>
                      თვისებები
                    </span>
                  </div>

                  <div class="row">
                    <div class="col-sm-12  col-md-6 col-lg-6">
                      <div class="character-col-title-holder">
                        <div class="character-col-title">გასეირნებისას</div>
                        <div class="character-col-sub-title">შეგიძლიათ აირჩიოთ რამოდენიმე</div>
                      </div>

                      <div formArrayName="atWalk">
                        <div *ngFor="let item of getAtWalk.controls; let i = index;" >
                          <div [formGroupName]="i" >
                               <div class="st-field-wrapper st-checkbox-wrapper" >
                                <input class="st-checkbox" id="atWalk-checkbox{{ i }}" type="checkbox" 
                                [value]="item.value.value" 
                                formControlName="value"
                                [checked]="item.value.value"
                                (change)="onCheckChange($event, i)"
                                >
                                <label for="atWalk-checkbox{{ i }}"> {{ item.value.title }} {{ i }} </label>
                              </div> 
                          </div> 
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-12  col-md-6 col-lg-6">
                      <div class="character-col-title-holder">
                        <div class="character-col-title">როდესას უცხო ადამიანი სტუმრობს</div>
                        <div class="character-col-sub-title">შეგიძლიათ აირჩიოთ რამოდენიმე</div>
                      </div>

                      <div formArrayName="atGuest">
                        <div *ngFor="let item of getAtGuest.controls; let i = index;" >
                          <div [formGroupName]="i" >
                               <div class="st-field-wrapper st-checkbox-wrapper" >
                                <input class="st-checkbox" id="atGuest-checkbox{{ i }}" type="checkbox" 
                                [value]="item.value.value" 
                                formControlName="value"
                                [checked]="item.value.value"
                                (change)="onCheckChange($event, i)"
                                >
                                <label for="atGuest-checkbox{{ i }}"> {{ item.value.title }} {{ i }} </label>
                              </div> 
                          </div> 
                        </div>
                      </div>

                    </div>
                  </div>
                          
                                
                  <div class="btn-submit">
                      <button class="st-btn st-btn-filled  mr-b-16 mr-t-40" > დამახსოვრება </button>
                  </div>
             
      
              </form>

