<app-header></app-header>

<div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
       <div class="col-sm-12 col-md-8 col-lg-8 central-card">
           <div class="card card-content">
            <div class="card-header-section">
                <div class="walker">
                    <div><img class="walker-avatar" src="assets/images/avatar.png" alt=""></div>
                    <div class="walker-info">
                        <div>სოფია ზამთარაშვილი</div>
                        <div>**********</div>
                    </div>
                </div>
                <div class="rate-btn-container">
                    <button mat-raised-button class="st-btn btn-rounded-green">შეფასება</button>
                </div>
                
            </div>
            <div class="card-body card-content-section">
                <div>
                    <span class="info-content-title">შეკვეთის დეტალები</span>
                </div>

                <div class="row detail-info">
                        <div class="column mr-20">
                            <div class="info-column-item">
                                <div class="font-bold">დაწყება</div>
                                <div>11:00</div>
                            </div>
                            <div class="info-column-item">
                                <div class="font-bold">ძაღლი</div>
                                <div>ჩარლი</div>
                            </div>
                        </div>
                        <div class="column mr-20">
                            <div class="info-column-item">
                                <div class="font-bold">დასრულება</div>
                                <div>11:00</div>
                            </div>
                            <div class="info-column-item">
                                <div class="font-bold">ფასი</div>
                                <div>23 GEL</div>
                            </div>
                        </div>
                        <div class="column mr-20">
                            <div class="info-column-item">
                                <div class="font-bold">შეკვეთის ID</div>
                                <div>11:00</div>
                            </div>
                            <div class="info-column-item">
                                <div class="font-bold">ხანგრძლივობა</div>
                                <div>60 წუთი</div>
                            </div>
                        </div>
                        <div class="column mr-20">
                            <div class="info-column-item">
                                <div class="font-bold">მისამართი</div>
                                <div>ნუცუბიძის 12</div>
                            </div>
                        </div>
                </div>
                  
                <!-- <div class="info-helder">
                    <div class="info-helder-item">
                        <div class="info-title">დაწყება</div>
                        <div>11:00</div>
                    </div>
                    <div class="info-helder-item">
                        <div class="info-title">დასრულება</div>
                        <div>11:00</div>
                    </div>
                    <div class="info-helder-item">
                        <div class="info-title">შეკვეთის ID</div>
                        <div>11:00</div>
                    </div>
                    <div class="info-helder-item">
                        <div class="info-title">მისამართი</div>
                        <div>11:00</div>
                    </div>
                </div>
                <div class="info-helder">
                    <div class="info-helder-item">
                        <div class="info-title">ძაღლი</div>
                        <div>11:00</div>
                    </div>
                    <div class="info-helder-item">
                        <div class="info-title">ფასი</div>
                        <div>11:00</div>
                    </div>
                    <div class="info-helder-item">
                        <div class="info-title">ხანგრძლივობა</div>
                        <div>11:00</div>
                    </div>
                </div> -->

                <div>
                    <span class="info-content-title">ფოტოები</span>
                </div>
                <div class="info-fotos row">
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 img-container">
                        <img class="dog-img" src="assets/images/1.jpg" alt="" (click)="showGallery(0)">
                   </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 img-container">
                        <img class="dog-img" src="assets/images/2.jpg" alt="" (click)="showGallery(0)">
                   </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 img-container">
                        <img class="dog-img" src="assets/images/3.jpg" alt="" (click)="showGallery(0)">
                   </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 img-container">
                        <img class="dog-img" src="assets/images/4.jpg" alt="" (click)="showGallery(0)">
                   </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 img-container">
                        <img class="dog-img" src="assets/images/5.jpg" alt="" (click)="showGallery(0)">
                   </div>
                </div>

             
            </div>
          </div>
       </div>
      </div>
    </div>
  </div>


<app-footer></app-footer>
