<div class="page-layout carded fullwidth inner-scroll">
  <div class="top-bg accent"></div>
  <div class="center">
    <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="start start">
          <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="logo-icon s-32 mr-16"> info </mat-icon>
            <span class="logo-text h1"> faqs page </span>
          </div>
        </div>
      </div>
    </div>

    <div class="content-card">
      <div class="content">
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">
            
            <h3> Banner </h3>
            <div class="inputs_container">
              <app-image-upload
                [image]="formData.banner"
                [imageSizes]="imageSizes.image"
                (uploadComplete)="onUploadCompleteImage3($event)">
              </app-image-upload>
            </div>

            <div class=" mt-24">
              <button mat-raised-button color="primary"> Submit </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>