<app-header></app-header>
<div class="faqs">
    <div class="container">
        <div class="title">
            <h1 >  {{'FAQS' | translate}}</h1>
         </div>
        <div class="section-container"> 
            <div class="left-column" *ngIf="firstHalf.length > 0">
                <div class="card-tem" (click)="setActiveFaq(faq._id)" *ngFor="let faq of firstHalf; let i = index;">
                    <div class="header" [class.faq-header-active]="activeFaq == faq._id" >
                        <div class="faq-icon">
                            <img src="/assets/icons/add.png" alt="" *ngIf="activeFaq !== faq._id">
                            <img src="/assets/icons/minus.png" alt="" *ngIf="activeFaq == faq._id">
                        </div>
                        <div class="faq-title">
                           {{ 'T' | translate : faq?.question }}
                        </div>
                    </div>
                    <div class="faq-content" [class.faq-content-active]="activeFaq == faq._id">
                        {{ 'T' | translate : faq?.answer }}
                    </div>
                </div>               
            </div>
            <div class="right-column" *ngIf="hsecondHlf.length > 0">
                <div class="card-tem" (click)="setActiveFaq(faq._id)" *ngFor="let faq of hsecondHlf; let j = index;">
                    <div class="header" [class.faq-header-active]="activeFaq == faq._id" >
                        <div class="faq-icon">
                            <img src="/assets/icons/add.png" alt="" *ngIf="activeFaq !== faq._id">
                            <img src="/assets/icons/minus.png" alt="" *ngIf="activeFaq == faq._id">
                        </div>
                        <div class="faq-title">
                           {{ 'T' | translate : faq?.question }}
                        </div>
                    </div>
                    <div class="faq-content" [class.faq-content-active]="activeFaq == faq._id">
                        {{ 'T' | translate : faq?.answer }}
                    </div>
                </div>   
            </div>  
           
        </div>
        <div class="banner-wraper">    
            <div class="banner bg-img" [ngStyle]="{'background-image': 'url(' + (faqsCommon?.banner?.url | resourceUrl) + ')'}">
                <a href="https://pide.ge/pide-order/">
                    <button class="btn booking-btn">
                    {{'HEADER.BOOKING' | translate}}
                    </button>
                </a>
            </div>     
        </div>
    </div>    
</div>
<app-footer></app-footer>