<app-header></app-header>

        <div class="steps-nav">
          <div class="step-nav nav-cancel">
            <div class="cancel-icon">X</div>
            <div class="nav-item-title">გაუქმება</div>
          </div>
          <div class="step-nav step-nav-finished ">
            <div class="step-nav-number">01</div>
            <div class="nav-item-title font-bold">ძაღლის დამატება</div>
          </div>
          <div class="step-nav step-nav-active">
            <div class="step-nav-number">02</div>
            <div  class="nav-item-title font-bold">გასეირნების დეტალები</div>
          </div>
          <div class="step-nav">
            <div class="step-nav-number">03</div>
            <div class="nav-item-title font-bold">გადახდის დეტალები</div>
          </div>
        </div>



<div class="container">
    <div class="row">
        <div class="col-sm-12  col-md-8 col-lg-8 main-container">
          

            <app-create-pet></app-create-pet>     

            <form [formGroup]="form" class="form" *ngIf="true">
                <div class="step1" *ngIf="true">
                  <div  class="section-title">შეკვეთის დამატება</div>
                  <div class="st-field-wrapper row mb-40">
                    <div class="st-field st-field-half col-sm-12  col-md-12 col-lg-6 input-container">
                      <div class="pet-item">
                          <div class="pet-img-holder">
                              <img class="pet-img" src="assets/icons/petavatar.png" alt="" >
                          </div>
                          <div class="pet-name">
                              რაღცა ძაღლის სახელი
                          </div>
                            <div class=" st-checkbox-wrapper pet-checkbox" >
                      
                              <input class="st-checkbox" type="checkbox" id="pet-checkbox">
                              <label for="pet-checkbox"></label>
                            </div> 
                      </div>
                    </div>
                    <div class="st-field st-field-half col-sm-12  col-md-12 col-lg-6">
                      <div class="pet-item">
                          <div class="pet-img-holder">
                              <img class="pet-img" src="assets/images/1.jpg" alt="" >
                          </div>
                          <div class="pet-name">
                              რაღცა ძაღლის სახელი
                          </div>
                          <div class=" st-checkbox-wrapper pet-checkbox">
                            <input class="st-checkbox" type="checkbox" id="pet-checkbox2">
                            <label for="pet-checkbox2"></label>
                          </div> 
                      </div>
                    </div>
                  </div>

                  <div class="st-field-wrapper row mb-40">
                    <div class="st-field st-field-half col-sm-12  col-md-12 col-lg-6 input-container">
                      <label for="address">მისამართი</label>
                      <input class="st-input form-control" type="text" formControlName='address' placeholder="მისამართი">
                    </div>

                    <div class="st-field st-field-half col-sm-12  col-md-12 col-lg-6 ">
                      <div class="st-field">
                        <label for="secondPhone">მეორე საკონტაქტო პირის ნომერი</label> 
                        <div class="phone-mask-wraper">
                            <img class="phone-mask-flag" src="assets/icons/flags/flag_ge.svg"/>
                            <span class="phone-mask-code"> +995 </span>                   
                        </div>
                        <input class="st-input form-control phone-number-input" type="text" formControlName='secondPhone' placeholder="--- --- ---">
                      </div>
                    </div>
                  </div>

                  <div class="st-field-wrapper row mb-40">
                      <div class="st-field st-field-half col-sm-12  col-md-12 col-lg-6 input-container">
                          <label for="startDate">როდიდან გსურთ დაწყება</label> 
                          <input class="st-input form-control"  matInput [matDatepicker]="startDate" placeholder="დაწყების რიცხვი" formControlName='startDate' >
                          <mat-datepicker-toggle   matSuffix [for]="startDate" class="startDate"></mat-datepicker-toggle>
                          <mat-datepicker #startDate></mat-datepicker>
                      </div>

                      <div class="st-field st-field-half col-sm-12  col-md-12 col-lg-6">
                        <label for="endDate">დასრულების დრო</label>
                        <input class="st-input form-control"  matInput [matDatepicker]="endDate" placeholder="დამთავრების რიცხვი" formControlName='endDate' >
                        <mat-datepicker-toggle   matSuffix [for]="endDate" class="startDate"></mat-datepicker-toggle>
                        <mat-datepicker #endDate></mat-datepicker>
                        <span class="note">შესაძლებელია ერთდროულად მაქსიმუმ 45 დღის დაჯავშნა</span>
                    </div>
                  </div>

                  <div class="st-field-wrapper row days-row">
                    <div class="st-field st-field-half col-sm-12  col-md-12 col-lg-12 col-xl-12">
                      <div class="days-title">
                        აირჩიეთ კვირის დღეები
                      </div>
                      <div class="days-wraper">
                        <div *ngFor="let day of weekDays" class="day day-active">{{ day.miniTitle.ge }}</div>
                      </div>                     
                    </div>
                  </div>

                  <div class="st-field-wrapper row mb-40 walk-days-container">
                    <div class="st-field st-field-half col-sm-12  col-md-12 col-lg-6 walk-days-holder"  *ngFor="let item of weekDays">
                      <div class="walk-day-wraper">
                        <div class="walk-day-title">ორშაბათი</div>
                        <div class="walk-day-question">დღეში რამდენჯერ გსურთ გასეირნება</div>
                        <div class="walk-day">
                          <div class="walk-day-header">
                            <div>1</div>
                            <div>
                              <img class="time-icon" src="assets/icons/minus.png" alt="">
                              <img class="time-icon ml-10" src="assets/icons/add.png" alt="">
                            </div>
                          </div>
                          <div class="walk-day-body">
                            <div class="walk">
                              <div>10:00</div>
                              <div>
                                <img class="time-icon" src="assets/icons/time.png" alt="">
                              </div>
                            </div>
                            <div class="walk">
                              <div>10:00</div>
                              <div>
                                <img class="time-icon" src="assets/icons/time.png" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="st-field-wrapper row mb-40">
                    <div class="st-field st-field-half col-sm-12  col-md-12 col-lg-6 walk-type-container">
                      <div class="walk-type-item">
                          <div class="walk-type-name">
                              30 წუთი - 16 ლარი
                          </div>
                            <div class="walk-type-radio" >                      
                              <input class="st-radio" type="radio" id="walkType1" name="walkType">
                              <label for="walkType1"></label>
                            </div> 
                      </div>
                    </div>
                    <div class="st-field st-field-half col-sm-12  col-md-12 col-lg-6 walk-type-container">
                      <div class="walk-type-item">
                          <div class="walk-type-name">
                              45 წუთი - 18 ლარი
                          </div>
                            <div class="walk-type-radio" >                      
                              <input class="st-radio" type="radio" id="walkType2" name="walkType" >
                              <label for="walkType2"></label>
                            </div> 
                      </div>
                    </div>

                    <div class="st-field st-field-half col-sm-12  col-md-12 col-lg-6 walk-type-container">
                      <div class="walk-type-item">
                          <div class="walk-type-name">
                              60 წუთი - 23 ლარი
                          </div>
                            <div class="walk-type-radio" >                      
                              <input class="st-radio" type="radio" id="walkType3" name="walkType" >
                              <label for="walkType3"></label>
                            </div> 
                      </div>
                    </div>
                  </div>
                </div>

                <div class="step2">
                  <div class="section-title">გადახდა</div>
                  <div class="middle-title mt-40 mb-20">გადახდის ინტერვალი</div>

                  <div class="payment-question">დღეში რამდენჯერ გსურთ გასეირნება</div>
                  <div class="st-field-wrapper column mb-40">
                    <div class="packages col-sm-12  col-md-12 col-lg-12 col-xl-12">
                      <div class="packages-first-section">გასეირნების წინ</div>
                      <div class="packages-second-section">
                        <div>სტანდარტული პაკეტი</div>
                        <div class="price-right-one">23 ₾</div>
                      </div>
                    </div>
                    <div class="packages col-sm-12  col-md-12 col-lg-12 col-xl-12">
                      <div class="packages-first-section">
                        <div>15 დღეში ერთხხელ</div>
                        <div class="price-right font-bold">-30 ₾</div>
                      </div>
                      <div class="packages-second-section">
                        <div><del>690 ₾</del><span class="price-left"> 660 ₾</span></div>
                        <div> <span class="price-right-one">22₾</span>  / <del>23 ₾</del></div>
                      </div>
                    </div>
                    <div class="packages col-sm-12  col-md-12 col-lg-12 col-xl-12">
                      <div class="packages-first-section">
                        <div>ერთობლივად</div>
                        <div class="price-right font-bold">-120 ₾</div>
                      </div>
                      <div class="packages-second-section">
                        <div><del>1380 ₾ </del> <span class="price-left"> 1260 ₾</span></div>
                        <div> <span class="price-right-one">21 ₾</span>/<del>23 ₾</del></div>
                      </div>
                    </div>
                  </div>

                  <div class="middle-title mt-40 mb-40">ანგარიში </div>

                  <div class="order-info-container">
                    <div class="order-sections order-pets">
                      <div class="packages-first-section order-pets-first-sec"><span class="font-bold"> ჩარლი </span></div>
                      <div class="packages-second-section">
                        <div>60 წუთი</div>
                        <div class="price-right-one"> <span class="font-bold">23 ₾</span> / <del>25 ₾</del></div>
                      </div>
                    </div>
                    <div class="order-sections">
                      <div class="packages-first-section"><span class="font-bold"> ჯამი </span></div>
                      <div class="packages-second-section">
                        <div>60 გასეირნება</div>
                        <div class="price-right-one"><span class="font-bold"> 1260 ₾</span> / <del>1380 ₾</del></div>
                      </div>
                    </div>
                    <div class="order-sections sale-section">
                      <div class="packages-first-section"><span class="font-bold"> გამოყენებული ფასდაკლებები </span></div>
                      <div class="packages-second-section">
                        <div>გადახდის ინტერვალი</div>
                        <div class="price-right-one"><span class="font-bold"> -120 ₾</span></div>
                      </div>
                    </div>
                  </div>

                  <div class="middle-title mt-40 mb-40">გადახდის მეთოდი</div>
                  <div class="small-title">საფასურის გადახდა ხდება მხოლოდ თიბისის ან საქართველოს ბანკის საბანკო ანგარიშებზე</div>
                  <div class="iban">
                    <div class="iban-color bgc-blue"></div>
                    <div class="iban-value fs-16">GE23TB1241240990902</div>
                    <div class="iban-copy"> <span class="font-bold">copy</span></div>
                  </div>
                  <div class="iban">
                    <div class="iban-color bgc-brown"></div>
                    <div class="iban-value fs-16">GE23TB1241240990902</div>
                    <div class="iban-copy"> <span class="font-bold">copy</span></div>
                  </div>

                </div>

                  <div class="row">
                    <div class="col-sm-12  col-md-12 col-lg-12">
                      <div class="btn-submit">
                        <button class="st-btn st-btn-filled font-bold fs-16 mr-b-16 mr-t-40" > <span class="text-upper">შემდეგი</span> </button>
                      </div>
                    </div>
                  </div>
            </form>

            <div class="row">
              <div class="col-sm-12  col-md-12 col-lg-12">
                  <div class="you-havenot-order ">
                    <div class="img">
                      <img src="/assets/icons/dog.png" alt="">
                    </div>
                    <div class="text">
                    <p class="font-bold">ერთი თვე ამოიწურა</p>
                    <p>შეკვეთის გამოეორებისთვის დააწექით ღილაკს შეკვეთის გამეორება</p>
                    </div>
                    <div class="new-order-btn-wraper">
                      <button class="st-btn st-btn-filled font-bold new-order-btn">ახალი შეკვეთა</button>
                    </div>
                    <div class="new-order-btn-wraper">
                      <button class="st-btn st-btn-filled font-bold repeat-order-btn">შეკვეთის გამეორება</button>
                    </div>
                  </div>

              </div>
            </div>

        </div>
    </div>
</div>

<app-footer></app-footer>
