<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col-sm-12  col-md-8 col-lg-8 main-container">
          <!-- <app-create-pet></app-create-pet> -->

          <div>
            <h2 class="section-title"> შეკვეთის დამატება </h2>
          </div>

            <form [formGroup]="form" class="form">

                  <div class="st-field-wrapper row mb-40">
                    <div class="st-field st-field-half col-sm-12  col-md-6 col-lg-6">
                      <div class="pet-item">
                          <div class="pet-img-holder">
                              <img class="pet-img" src="assets/icons/petavatar.png" alt="" >
                          </div>
                          <div class="pet-name">
                              რაღცა ძაღლის სახელი
                          </div>
                            <div class=" st-checkbox-wrapper pet-checkbox" >
                      
                              <input class="st-checkbox" type="checkbox" id="pet-checkbox">
                              <label for="pet-checkbox"></label>
                            </div> 
                      </div>
                    </div>
                    <div class="st-field st-field-half col-sm-12  col-md-6 col-lg-6">
                      <div class="pet-item">
                          <div class="pet-img-holder">
                              <img class="pet-img" src="assets/images/1.jpg" alt="" >
                          </div>
                          <div class="pet-name">
                              რაღცა ძაღლის სახელი
                          </div>
                          <div class=" st-checkbox-wrapper pet-checkbox">
                            <input class="st-checkbox" type="checkbox" id="pet-checkbox2">
                            <label for="pet-checkbox2"></label>
                          </div> 
                      </div>
                    </div>
                  </div>

                  <div class="st-field-wrapper row mb-40">
                    <div class="st-field st-field-half col-sm-12  col-md-6 col-lg-6">
                      <label for="address">მისამართი</label>
                      <input class="st-input form-control" type="text" formControlName='address' placeholder="მისამართი">
                    </div>

                    <div class="st-field st-field-half col-sm-12  col-md-6 col-lg-6">
                      <div class="st-field">
                        <label for="secondPhone">მეორე საკონტაქტო პირის ნომერი</label> 
                        <div class="phone-mask-wraper">
                            <img class="phone-mask-flag" src="assets/icons/flags/flag_ge.svg"/>
                            <span class="phone-mask-code"> +995 </span>                   
                        </div>
                        <input class="st-input form-control phone-number-input" type="text" formControlName='secondPhone' placeholder="--- --- ---">
                      </div>
                    </div>
                  </div>

                  <div class="st-field-wrapper row mb-40">
                      <div class="st-field st-field-half col-sm-12  col-md-6 col-lg-6">
                          <label for="startDate">როდიდან გსურთ დაწყება</label> 
                          <input class="st-input form-control"  matInput [matDatepicker]="startDate" placeholder="დაწყების რიცხვი" formControlName='startDate' >
                          <mat-datepicker-toggle   matSuffix [for]="startDate" class="startDate"></mat-datepicker-toggle>
                          <mat-datepicker #startDate></mat-datepicker>
                      </div>

                      <div class="st-field st-field-half col-sm-12  col-md-6 col-lg-6">
                        <label for="endDate">დასრულების დრო</label>
                        <input class="st-input form-control"  matInput [matDatepicker]="endDate" placeholder="დამთავრების რიცხვი" formControlName='endDate' >
                        <mat-datepicker-toggle   matSuffix [for]="endDate" class="startDate"></mat-datepicker-toggle>
                        <mat-datepicker #endDate></mat-datepicker>
                        <span class="note">შესაძლებელია ერთდროულად მაქსიმუმ 45 დღის დაჯავშნა</span>
                    </div>
                  </div>

                  <div class="st-field-wrapper row days-row">
                    <div class="st-field st-field-half col-sm-12  col-md-6 col-lg-6">
                      <div class="days-title">
                        აირჩიეთ კვირის დღეები
                      </div>
                      <div class="days-wraper">
                        <div *ngFor="let day of weekDays" class="day-active">{{ day.miniTitle.ge }}</div>
                      </div>                     
                    </div>
                  </div>

                  <div class="st-field-wrapper row mb-40 walk-days-container">
                    <div class="st-field st-field-half col-sm-12  col-md-6 col-lg-6">
                      <div class="walk-day-wraper">
                        <div>ორშაბათი</div>
                        <div>დღეში რამდენჯერ გსურთ გასეირნება</div>
                        <div class="walk-day">
                          <div class="walk-day-header">
                            <div>1</div>
                            <div>
                              <img class="time-icon" src="assets/icons/minus.png" alt="">
                              <img class="time-icon" src="assets/icons/add.png" alt="">
                            </div>
                          </div>
                          <div class="walk-day-body">
                            <div class="walk">
                              <div>10:00</div>
                              <div>
                                <img class="time-icon" src="assets/icons/time.png" alt="">
                              </div>
                            </div>
                            <div class="walk">
                              <div>10:00</div>
                              <div>
                                <img class="time-icon" src="assets/icons/time.png" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="btn-submit">
                    <button class="st-btn st-btn-filled  mr-b-16 mr-t-40" > შემდეგი </button>
                  </div>
          
            </form>


        </div>
    </div>
</div>

<app-footer></app-footer>
