  @font-face {
    font-family: 'TBCContractica-black';
    src: url('/assets/fonts/._TBCContractica-Black.ttf') format('ttf');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }  
  @font-face {
    font-family: 'TBCContractica-Bold';
    src: url('/assets/fonts/._TBCContractica-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  // @font-face {
  //   font-family: 'TBCContractica-Book';
  //   src: url('/assets/fonts/._TBCContractica-Book.ttf') format('ttf');
  //   font-weight: 200;
  //   font-style: normal;
  //   font-display: swap;
  // }
  // @font-face {
  //   font-family: 'TBCContracticaCAPS-Black';
  //   src: url('/assets/fonts/._TBCContracticaCAPS-Black.ttf') format('ttf');
  //   font-weight: 700;
  //   font-style: normal;
  //   font-display: swap;
  // }
  // @font-face {
  //   font-family: 'TBCContracticaCAPS-Book';
  //   src: url('/assets/fonts/._TBCContracticaCAPS-Book.ttf') format('ttf');
  //   font-weight: 200;
  //   font-style: normal;
  //   font-display: swap;
  // }
  // @font-face {
  //   font-family: 'TBCContracticaCAPS-Light';
  //   src: url('/assets/fonts/._TBCContracticaCAPS-Light.ttf') format('ttf');
  //   font-weight: 200;
  //   font-style: normal;
  //   font-display: swap;
  // }
  // @font-face {
  //   font-family: 'TBCContracticaCAPS-Medium';
  //   src: url('/assets/fonts/._TBCContracticaCAPS-Medium.ttf') format('ttf');
  //   font-weight: 400;
  //   font-style: normal;
  //   font-display: swap;
  // }
  // @font-face {
  //   font-family: 'TBCContractica-Light';
  //   src: url('/assets/fonts/._TBCContractica-Light.ttf') format('ttf');
  //   font-weight: 200;
  //   font-style: normal;
  //   font-display: swap;
  // }
  // @font-face {
  //   font-family: 'TBCContractica-Medium';
  //   src: url('/assets/fonts/._TBCContractica-Medium.ttf') format('ttf');
  //   font-weight: 400;
  //   font-style: normal;
  //   font-display: swap;
  // }
  // @font-face {
  //   font-family: 'TBCContractica-Medium';
  //   src: url('/assets/fonts/._TBCContractica-Medium.ttf') format('ttf');
  //   font-weight: 400;
  //   font-style: normal;
  //   font-display: swap;
  // }
  // @font-face {
  //   font-family: 'TBCContractica-Regular';
  //   src: url('/assets/fonts/._TBCContractica-Regular.ttf') format('ttf');
  //   font-weight: 400;
  //   font-style: normal;
  //   font-display: swap;
  // }
  