
@font-face {
  font-family: 'contractica-regular';
  src: url('/assets/fonts/contractica-fonts/TBCContractica-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'contractica-caps-black';
  src: url('/assets/fonts/contractica-fonts/TBCContracticaCAPS-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'contractica-black';
  src: url('/assets/fonts/contractica-fonts/TBCContractica-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'contractica-bold';
  src: url('/assets/fonts/contractica-fonts/TBCContractica-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'contractica-Medium';
  src: url('/assets/fonts/contractica-fonts/TBCContractica-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


// aman imushava
// @font-face {
//   font-family: 'contractica-font';
//   src: url('/assets/fonts/contractica-fonts/TBCContracticaCAPS-Book.ttf') format('truetype');
//   font-weight: 900;
//   font-style: normal;
//   font-display: swap;
// }


  /*
  // work examples

  @font-face {
  font-family: 'Lato';
  src:
    local('Lato'),
    url('/assets/fonts/Lato/Lato-Regular.woff2') format('woff2'),
    url('/assets/fonts/Lato/Lato-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ALK Rex Bold";
  src: url('/assets/fonts/alk/alk-rex-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  // font-display: swap;
}

  */