<app-header></app-header>


<div class="container">
    <div class="row">
        <div class="col-sm-12  col-md-8 col-lg-8 main-container">
            <h2 class="section-title "> ძაღლის დამატება  </h2>

            <div class="pet-items">
                <div class="pet-item">
                    <div class="pet-img-holder">
                        <img class="pet-img" src="assets/icons/petavatar.png" alt="" >
                    </div>
                    <div class="pet-name">
                        რაღცა ძაღლის სახელი
                    </div>
                    <div class="edit">
                        <img src="assets/icons/edit.png" alt="">
                    </div>
                </div>
                <div class="pet-item">
                    <div class="pet-img-holder">
                        <img class="pet-img" src="assets/images/1.jpg" alt="">
                    </div>
                    <div class="pet-name">
                        რაღცა ძაღლის სახელი
                    </div>
                    <div class="edit">
                        <img src="assets/icons/edit.png" alt="">
                    </div>
                </div>
            </div>
            <div class="add-btn" (click)="addPet()">
                <span> <img src="assets/icons/plus-circle.png" alt=""></span>
                <span class="btn-title">ძაღლის დამატება</span> 
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
