<div class="container">
    <div class="section-title">  {{'FAQS' | translate}}</div>
    <div class="section-container"> 
        <div class="left-column" *ngIf="firstHalf.length > 0">
            <div class="card-tem" (click)="setActiveFaq(faq._id)" *ngFor="let faq of firstHalf; let i = index;">
                <div class="header" [class.faq-header-active]="activeFaq == faq._id" >
                    <div class="faq-icon">
                        <img src="/assets/icons/add.png" alt="" *ngIf="activeFaq !== faq._id">
                        <img src="/assets/icons/minus.png" alt="" *ngIf="activeFaq == faq._id">
                    </div>
                    <div class="faq-title">
                       {{ 'T' | translate : faq?.question }}
                    </div>
                </div>
                <div class="faq-content" [class.faq-content-active]="activeFaq == faq._id">
                    {{ 'T' | translate : faq?.answer }}
                </div>
            </div>               
        </div>
        <div class="right-column" *ngIf="hsecondHlf.length > 0">
            <div class="card-tem" (click)="setActiveFaq(faq._id)" *ngFor="let faq of hsecondHlf; let j = index;">
                <div class="header" [class.faq-header-active]="activeFaq == faq._id" >
                    <div class="faq-icon">
                        <img src="/assets/icons/add.png" alt="" *ngIf="activeFaq !== faq._id">
                        <img src="/assets/icons/minus.png" alt="" *ngIf="activeFaq == faq._id">
                    </div>
                    <div class="faq-title">
                       {{ 'T' | translate : faq?.question }}
                    </div>
                </div>
                <div class="faq-content" [class.faq-content-active]="activeFaq == faq._id">
                    {{ 'T' | translate : faq?.answer }}
                </div>
            </div>   
        </div>  
    </div>
</div>